{% include "base.html"%}

{% block content %}

<a href="/" class="btn btn-primary active" role="button" aria-pressed="true">Back</a>


<div>
  <h1>My travels</h1>
</div>
<div class="row">
        <article>
            <div class="container bootstrap snippets bootdeys">
                <div class="row">
                    {% for travel in travels %}
                    <div class="col-md-4 col-sm-6 content-card">
                            <div class="card mb-5">
                                <div class="card-body">
                                    <h5 class="card-title">{{travel['title']}}</h5>
                                    <a class="btn btn-primary" href="/edit-travel/{{travel['_id']}}">Edit</a>

<!-- Button trigger modal -->
<button type="button" 
class="btn btn-danger" 
data-bs-toggle="modal" 
data-bs-target="#id-{{travel['_id']}}">
    DELETE
  </button>
  
  <!-- Modal -->
  <div class="modal fade" 
  id="id-{{travel['_id']}}" 
  tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you really want delete travel: {{travel['title']}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="POST" action="/api/delete-travel" >
            <input name="id_to_delete" value="{{travel['_id']}}" type="hidden">
            <button type="submit" class="btn btn-danger">DELETE</button>
    </form>
        </div>
      </div>
    </div>
  </div>


                                   


                                    <p class="card-text">Description: {{travel['desc']}} </p>
                                    <p class="card-text">Starting date: {{travel['start']}} </p>
                                    <p class="card-text">Return date: {{travel['end']}}</p>
                                    <p class="card-text">Cost: {{travel['cost']}} </p>
                                    <p class="card-text">Country: {{travel['country']}} </p>
                                </div>
                        </a>
                    </div>
                    </div>
                    {% endfor %}
                </a>
        </article>
</div>

{% endblock %}
